@font-face {
    font-family: 'Modum';
    src: url('~@/assets/fonts/Modum/Modum-Medium.eot');
    src: url('~@/assets/fonts/Modum/Modum-Medium.eot?#iefix') format('embedded-opentype'),
         url('~@/assets/fonts/Modum/Modum-Medium.woff2') format('woff2'),
         url('~@/assets/fonts/Modum/Modum-Medium.woff') format('woff'),
         url('~@/assets/fonts/Modum/Modum-Medium.ttf') format('truetype'),
         url('~@/assets/fonts/Modum/Modum-Medium.svg#Modum-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Modum';
    src: url('~@/assets/fonts/Modum/Modum-Regular.eot');
    src: url('~@/assets/fonts/Modum/Modum-Regular.eot?#iefix') format('embedded-opentype'),
         url('~@/assets/fonts/Modum/Modum-Regular.woff2') format('woff2'),
         url('~@/assets/fonts/Modum/Modum-Regular.woff') format('woff'),
         url('~@/assets/fonts/Modum/Modum-Regular.ttf') format('truetype'),
         url('~@/assets/fonts/Modum/Modum-Regular.svg#Modum-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Modum';
    src: url('~@/assets/fonts/Modum/Modum-Bold.eot');
    src: url('~@/assets/fonts/Modum/Modum-Bold.eot?#iefix') format('embedded-opentype'),
         url('~@/assets/fonts/Modum/Modum-Bold.woff2') format('woff2'),
         url('~@/assets/fonts/Modum/Modum-Bold.woff') format('woff'),
         url('~@/assets/fonts/Modum/Modum-Bold.ttf') format('truetype'),
         url('~@/assets/fonts/Modum/Modum-Bold.svg#Modum-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DancingScript';
    src: url('~@/assets/fonts/DancingScript/DancingScript-Regular.eot');
    src: url('~@/assets/fonts/DancingScript/DancingScript-Regular.eot?#iefix') format('embedded-opentype'),
         url('~@/assets/fonts/DancingScript/DancingScript-Regular.woff2') format('woff2'),
         url('~@/assets/fonts/DancingScript/DancingScript-Regular.woff') format('woff'),
         url('~@/assets/fonts/DancingScript/DancingScript-Regular.ttf') format('truetype'),
         url('~@/assets/fonts/DancingScript/DancingScript-Regular.svg#Modum-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DancingScript';
    src: url('~@/assets/fonts/DancingScript/DancingScript-Bold.eot');
    src: url('~@/assets/fonts/DancingScript/DancingScript-Bold.eot?#iefix') format('embedded-opentype'),
         url('~@/assets/fonts/DancingScript/DancingScript-Bold.woff2') format('woff2'),
         url('~@/assets/fonts/DancingScript/DancingScript-Bold.woff') format('woff'),
         url('~@/assets/fonts/DancingScript/DancingScript-Bold.ttf') format('truetype'),
         url('~@/assets/fonts/DancingScript/DancingScript-Bold.svg#Modum-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
